@CHARSET "UTF-8";

.loader {
    display: block;
    margin : auto;
    margin-top : 5px;
    margin-bottom : 10px
}

.graphBlock{
    display: block;
    padding: 20px;
}

.overflowHidden {
    overflow: hidden;
}